@tailwind base;
@tailwind components;
@tailwind utilities;

body.auth-page-custom {
    background-image: url("/keycloakify-dev-resources/login/img/pattren.png");
    background-size: 700px;
    background-attachment: fixed;
    @apply relative bg-primary flex xl:overflow-hidden overflow-scroll xl:bg-white bg-blend-overlay xl:bg-blend-normal px-8 py-3 min-h-screen xl:backdrop-brightness-75;
}

.login-class {
    @apply w-full;
}

body.auth-page-custom::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin-top: -28%;
    margin-bottom: -15%;
    margin-left: -13%;
    width: 57%;
    --tw-rotate: -4deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 100%;
    @apply bg-slate-400;
}

body.auth-page-custom::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin-top: -20%;
    margin-bottom: -12%;
    margin-left: -13%;
    width: 57%;
    --tw-rotate: -4deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 100%;
    --tw-bg-opacity: 1;
    @apply bg-primary-400;
}

@media (max-width: calc(1280px - 1px)) {
    body.auth-page-custom:before,
    body.auth-page-custom::after {
        display: none;
    }
}

.kcFormSocialAccountListClass {
    @apply flex flex-col gap-2;
}

.kcFormSocialAccountListButtonClass {
    @apply hover:text-primary-400 w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800;
}

.kcFormSocialAccountListGridClass {
    @apply grid grid-cols-2;
}

.kcFormSocialAccountGridItem {
    @apply hover:text-primary-400 w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800;
}
